body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    color: #fff;
}

.app-container {
    text-align: center;
}

.game-container{
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    gap: 0px 10px; 
}

/* ---------- Controls --------------------------------------- */
.controls-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.score-container {
    font-size: 24px;
    margin-bottom: 20px;
}

.controls-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    font-size: 16px;
    margin: 0 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
}

select {
    font-size: 16px;
    padding: 8px;
}

/* ---------- Grid ------------------------------------------ */
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 7.5vh);
    grid-gap: 3px;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 5%;
}

.grid-cell {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 30%;
    background-color: black;
}

.tile-blink{
    animation: blinker 0.05s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.screen-loader{
    width: 78vh;
    height: 78vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Arial', sans-serif;
    font-size: 4vh;
}

/* ---------- Meadia Queries ------------------------------------------ */
@media only screen and (max-width: 961px) {
    /* For Tablets: */
    .game-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .controls-container {
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5px;
    }

    .score-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        margin: 0 2px;
        padding: 8px 50px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(10, 5vh);
        grid-gap: 3px;
        padding: 8px;
        border: 1px solid #eee;
        border-radius: 5%;
    }
    
    .grid-cell {
        width: 5vh;
        height: 5vh;
        border-radius: 30%;
        background-color: black;
    }

}

@media only screen and (max-width: 641px) {
    /* For mobile phones: */

    .app-container h1 span{
        display: none;
    }

    .game-container{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .controls-container {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(10, 3.5vh);
        grid-gap: 3px;
        border: 1px solid #eee;
        border-radius: 5%;
    }
    
    .grid-cell {
        width: 3.5vh;
        height: 3.5vh;
        border-radius: 30%;
        background-color: black;
    }
    
}